body, html {
	background-color: #444;
	margin: 0;
	padding: 0;
	height: 100%;
}

div.container {
	min-height: 100%;
	position: relative;
	margin: 0ex 10%;
	padding: 1ex 0em;				/* ОБЯЗАТЕЛЬНО для 100% высоты */
	max-width: 600px;
	background-color: lightgray;
}

h3 {
	text-align: center;
	font-size: 120%;
}

form {
	margin: 1ex 3em 4ex;
	padding: 2ex 1em;
	border: 1px solid blue;
	background-color: white;
}

input[name='payID'] {
	float: right;
}

div.pay_header {
	text-align: center;
}

div.pay_method {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-flexbox;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}

div.pay_cashless, div.pay_forcash {
	flex: 1;
	/*background-color: red;*/
}

div.btn_holder {
	text-align: center;
}

label {
	display: block;
	border: 1px dotted gray;
	margin: 1ex 1em;
	padding: 2px 3px;
	cursor: pointer;
	font-weight: bold;
}

input:required {
	border: 1px solid orange;
}

button {
	margin-left: 1em;
	cursor: pointer;
}

div.label_bonus {
	margin-left: 2ex;
}

div.payBox {
	width: inherit;
	/*word-spacing: normal;*/
	margin: 1ex 3em;
	border: 1px teal solid;
	padding: 1ex 1em;
}

footer {
	position: absolute;
	bottom: 0;
	height: 2ex;
	width: 100%;
	font-style: oblique;
	padding: 1ex 0em;
	margin-top: 1ex;
	border-top: 1px solid darkblue;
	background-color: gray;
	text-align: right;
}

footer > span {
	padding-right: 1em;
}